/* Reset some default browser styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* CSS Custom Properties (Variables) */
:root {
  --primary-color: #0077cc;
  --secondary-color: #004499;
  --background-color: #f9f9f9;
  --text-color: #333;
  --header-color: #444;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6; /* Enhanced line-height for readability */
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Headers styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-color);
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

/* Link styles */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--secondary-color);
}

/* Navigation styles */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #f5f5f5;
}

/* Grid and Flexbox styles */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Responsive styles */
@media (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .navbar {
    flex-direction: column;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
}
